
.heading {
    color: WHITE;
    font-size: 45px;
    font-weight: bold;
}

.other-text {
    color: WHITE;
    font-size: 30px;
    font-style: italic;
}

.width110 {
    width: 110px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h5 {
    color: white;
}